<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/CSS/dashboard.css">  
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js"></script>
    <title>Inlytics - Dashboard</title>
    <link rel="icon" href="/static/Logos/4 - Copia.png" type="image/png">
</head>
<body>
    <nav class="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="./static/Logos/4.png" alt="logo" class="logo">
                    <img src="./static/Logos/4 - Copia.png" alt="logo-closed" class="logo-closed">
                </span>
            </div>
    
            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link active">
                        <a href="{{ url_for("home.dashboard")}}">
                            <img src="/static/Imagens/dashboard.png" alt="Dashboard Icon" class="icon">
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{ url_for ("home.rfm")}}">
                            <img src="/static/Imagens/rfm-icone.png" alt="RFM Icon" class="icon">
                            <span class="text nav-text">RFM</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{ url_for("home.churn")}}">
                            <img src="/static/Imagens/churn-icone.png" alt="Churn Icon" class="icon">
                            <span class="text nav-text">Churn</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{ url_for("home.sazonalidade") }}">
                            <img src="/static/Imagens/sazionalidade-icone.png" alt="Sazonalidade Icon" class="icon">
                            <span class="text nav-text">Sazonalidade</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{ url_for("home.usuario")}}">
                            <img src="/static/Imagens/usuario-icone.png" alt="Usuário Icon" class="icon">
                            <span class="text nav-text">Usuário</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="user-profile">
                <img src="/static/Imagens/Alana Crystal (1).png"  class="user-avatar">
                <div class="user-info">
                    <span class="name">{{ nome_usuario }}</span>
                    <span class="role">{{ empresa[0] }} - {{ setor_usuario }}</span>
                </div>
                <a href="{{ url_for("home.logout")}}" class="logout-link">
                <i class='bx bx-log-out logout-icon'>
                </i>
                </a>
            </div>
        </div>
    </nav>
    <main>
    <section class="tudo">
            <div class="dashboard">
                <div class="cabecalho">
                    <div class="titulo-pesquisa">
                        <div class="titulo-nome">
                            <h1>Olá, {{ nome_usuario }}!</h1>
                            <h3>Confira o seu desempenho geral</h3>
                        </div>
                        <div class="barra-pesquisa">   
                            <div class="search">
                                <input type="text" id="searchInput" placeholder="Pesquise algo...">
                                <label for="searchInput">
                                    <span class="material-symbols-outlined">
                                        <img src="/static/Imagens/search-bar.png" alt="">
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="destaques">
                    <div class="lucro-anual">
                        <div class="lucro-img">
                            <img src="/static/Imagens/lucro.png" alt="" srcset="">
                        </div>
                        <div class="lucro-valor">
                            <h3>Lucro Anual</h3>
                            <h1>{{ lucro_total }}</h1>
                        </div>
                    </div>
                    <div class="clientes-novos">
                        <div class="clientes-novos-img">
                            <img src="/static/Imagens/icone-clientes.png" alt="">
                        </div>
                        <div class="cliente-novos-numero">
                            <h1>{{ clientes_novos }}</h1>
                            <h3>Clientes novos</h3>
                        </div>
                        <div class="clientes-novos-aumento">
                            <img src="/static/Imagens/seta-aumento.png" alt="">
                            <h4>Aumento de {{ porcentagem_clientes_novos | round(2) }}%</h4>
                            <h6><i>Em relação ao mês anterior</i></h6>    
                        </div>
                    </div>
                    <div class="pais-mais-vendido">
                        <div class="pais-mais-vendido-img">
                            <img src="/static/Imagens/certo-compras.png " alt="">
                        </div>
                        <div class="pais-mais-vendido-nome">
                            <h1>{{ pais_destaque }}</h1>
                            <h3>País mais vendido</h3>
                        </div>
                    </div>
                </div>
                <div class="rendimento-compras-vendas">
                    <div class="rendimento-anual">
                        <h1>Rendimento Mensal</h1>
                        <canvas id="graficoFaturamento"></canvas>
                    </div>
                    <div class="compras-qtdvendas">
                        <div class="produto-mais-vendido">
                        <img src="/static/Imagens/coroa-produtos.png" alt="">
                        <h3>Produto em Destaque</h3>
                        <h1>{{ produto_destaque['product_desc'] }}</h1>
                    </div> 
                        <div class="qtd-vendas">
                            <h1>Quantidade Vendida</h1>
                            <h4>Mensal</h4>
                            <h1 class="valor">{{ qnt_produtos }}</h1>
                        </div>
                    </div>
                </div>
                <div class="produtos-mais-vendidos">
                    <h1>Produtos mais Vendidos</h1>
                    <canvas id="salesChart"></canvas>
                </div>
            </div>
        </section>
    </main>
<script src="{{ url_for('static', filename='/JS/grafico_dashboard.js') }}"></script>
<script src="{{ url_for('static', filename='/JS/grafico_dashboard2.js') }}"></script>
    <script src="/static/JS/sidemenu.js"></script>
</body>
</html>