<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/projeto_inlytics/Static/CSS/login.css">
    <title>Inlytics</title>
    <link rel="icon" href="/projeto_inlytics/Static/Logos/4 - Copia.png" type="image/png">
</head>
<body>
    <main>
        <section class="tudo">
        <div class="direita-esquerda">
        <div class="esquerda">
            <div class="sub-titulo">
                <h1>Impulsionando seu crescimento <b>Empresarial</b> com:</h1>
            </div>
            <div class="titulo-maior">
                <ul class="dynamic-txts">
                    <li><spam>Churn</spam></li>
                    <li><spam>Dashboard</spam></li>
                    <li><spam>Sazionalidade</spam></li>
                    <li><spam>RFM</spam></li>
                </ul>
            </div>
            <div class="textinho">
                Transformando os seus dados em insights estratégicos. <br>
                Análise avançada e predições para decisões informadas.
            </div>
            <div class="logo">
                <img src="/projeto_inlytics/Static/Logos/5.png" alt="">
            </div>
        </div>
        <div class="diagonal">
        </div>
        <div class="direita">
            <div class="titulo-direito">
                <h1>Realize seu</h1>
                <h1 class="maior">Login</h1>
            </div>
            <div class="formulario">
                <div class="usuario">
                    <div class="usuario-icone">
                        <img src="/projeto_inlytics/Static/Imagens/user.png">
                    </div>
                    <input type="text" id="usuario" name="usuario" placeholder="Usuário">
                </div>
                <div class="senha">
                    <div class="senha-icone">
                        <img src="/projeto_inlytics/Static/Imagens/senha.png">
                    </div>
                    <input type="password" id="senha" name="senha" placeholder="Senha">
                    <div class="ver-senha">
                        <img src="/projeto_inlytics/Static/Imagens/olho-fechado.png" id="olho">
                    </div>
                </div>
                <div class="botao">
                    <a href="/projeto_inlytics/Templates/dashboard.html">
                   <button class="entrar slide_right">Entrar</button></a>
                   <div class="esqueceu-senha">
                    <p>Esqueceu a senha?</p>
                </div>
                </div>
            </div>
        </div>
    </div> 
    </section>
    </main>
    <script src="/projeto_inlytics/Static/JS/script.js"></script>
</body>
</html>