<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/CSS/rfm.css">
    <title>Inlytics - RFM</title>
    <link rel="icon" href="/static/Logos/4 - Copia.png" type="image/png">
</head>
<body>
<nav class="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="/static/Logos/4.png" alt="logo" class="logo">
                    <img src="/static/Logos/4 - Copia.png" alt="logo-closed" class="logo-closed">
                </span>
            </div>
    
            <i class='bx bx-chevron-right toggle'></i>
        </header>

       <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="{{ url_for("home.dashboard")}}">
                            <img src="/static/Imagens/dashboard.png" alt="Dashboard Icon" class="icon">
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link active">
                        <a href="{{ url_for ("home.rfm")}}">
                            <img src="/static/Imagens/rfm-icone.png" alt="RFM Icon" class="icon">
                            <span class="text nav-text">RFM</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{ url_for("home.churn")}}">
                            <img src="/static/Imagens/churn-icone.png" alt="Churn Icon" class="icon">
                            <span class="text nav-text">Churn</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{ url_for("home.sazonalidade") }}">
                            <img src="/static/Imagens/sazionalidade-icone.png" alt="Sazonalidade Icon" class="icon">
                            <span class="text nav-text">Sazonalidade</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{ url_for("home.usuario")}}">
                            <img src="/static/Imagens/usuario-icone.png" alt="Usuário Icon" class="icon">
                            <span class="text nav-text">Usuário</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="user-profile">
                <img src="/static/Imagens/Alana Crystal (1).png"  class="user-avatar">
                <div class="user-info">
                    <span class="name">{{ nome_usuario }}</span>
                    <span class="role">Tray - {{ setor_usuario }}</span>
                </div>
                <a href="{{ url_for("home.logout")}}" class="logout-link">
                <i class='bx bx-log-out logout-icon'>
                </i>
                </a>
            </div>
        </div>
    </nav>

    <main>
        <section class="tudo">
            <div class="cabecalho">
                <div class="titulo-pesquisa">
                    <div class="titulo-nome">
                        <h1>Olá, Alana!</h1>
                        <h3>Confira o seu RFM</h3>
                    </div>
                    <div class="barra-pesquisa">   
                        <div class="search">
                            <input type="text" id="searchInput" placeholder="Pesquise algo...">
                            <label for="searchInput">
                                <span class="material-symbols-outlined">
                                    <img src="/static/Imagens/search-bar.png" alt="">
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rfm">
                <div class="rfm-linha1">
                    <div class="nao-pode-perder" onclick="window.location.href='/templates/usuario.html'">
                        <h3>Recentes</h3>
                        <h1>{{ quantidades_rfm.get('Recent Customers', 0) }}</h1>
                        <h4>{{ (quantidades_rfm.get('Recent Customers', 0)/qnt_total_clientes)*100 }}%</h4>
                    </div>
                    <div class="prestes-partir"  onclick="window.location.href='/templates/usuario.html'">
                        <h3>Prestes a partir</h3>
                        <h1>{{ quantidades_rfm.get('About to Sleep', 0) }}</h1>
                        <h4>{{ (quantidades_rfm.get('About to Sleep', 0)/qnt_total_clientes)*100 }}%</h4>
                    </div>
                    <div class="hibernando"  onclick="window.location.href='/templates/usuario.html'">
                        <h3>Hibernando</h3>
                        <h1>{{ quantidades_rfm.get('Hibernating', 0) }}</h1>
                        <h4>{{ (quantidades_rfm.get('Hibernating', 0)/qnt_total_clientes)*100 }}%</h4>
                    </div>
                </div>
            
                <div class="rfm-bloco2e3">
                    <div class="rfm-bloco2">
                        <div class="campeoes"  onclick="window.location.href='/templates/usuario.html'">
                            <h3>Campeões</h3>
                            <h1>{{ quantidades_rfm.get('Champions', 0) }}</h1>
                            <h4>{{ (quantidades_rfm.get('Champions', 0)/qnt_total_clientes)*100 }}%</h4>
                        </div>
                        <div class="perdidos-atencao"  onclick="window.location.href='/templates/usuario.html'">
                            <div class="perdidos">
                                <h3>Perdidos</h3>
                                <h1>{{ quantidades_rfm.get('Lost', 0) }}</h1>
                                <h4>{{ (quantidades_rfm.get('Lost', 0)/qnt_total_clientes)*100 }}%</h4>
                            </div>
                            <div class="atencao"  onclick="window.location.href='/templates/usuario.html'">
                                <h3>Precisam de Atenção</h3>
                                <h1>{{ quantidades_rfm.get('Needs Attention', 0) }}</h1>
                                <h4>{{ (quantidades_rfm.get('Needs Attention', 0)/qnt_total_clientes)*100 }}%</h4>
                            </div>
                        </div>
                        <div class="promissores-emrisco">
                            <div class="promissores"  onclick="window.location.href='/templates/usuario.html'">
                                <h3>Promissores</h3>
                                <h1>{{ quantidades_rfm.get('Promising', 0) }}</h1>
                                <h4>{{ (quantidades_rfm.get('Promising', 0)/qnt_total_clientes)*100 }}%</h4>
                            </div>
                            <div class="em-risco"  onclick="window.location.href='/templates/usuario.html'">
                                <h3>Em risco</h3>
                                <h1>{{ quantidades_rfm.get('At Risk', 0) }}</h1>
                                <h4>{{ (quantidades_rfm.get('At Risk', 0)/qnt_total_clientes)*100 }}%</h4>
                            </div>
                        </div>
                </div>
                <div class="rfm-bloco3">
                    <div class="lado-direito">
                        <div class="potenciais-fieis"  onclick="window.location.href='/templates/usuario.html'">
                            <h3>Potenciais Fiéis</h3>
                            <h1>{{ quantidades_rfm.get('Potential Loyalist', 0) }}</h1>
                            <h4>{{ (quantidades_rfm.get('Potential Loyalist', 0)/qnt_total_clientes)*100}}%</h4>
                        </div>
                        <div class="recentes"  onclick="window.location.href='/templates/usuario.html'">
                            <h3>Outros</h3>
                            <h1>{{ quantidades_rfm.get('Others', 0) }}</h1>
                            <h4>{{ (quantidades_rfm.get('Others', 0)/qnt_total_clientes)*100 }}%</h4>
                            
                        </div>
                    </div>
                    <div class="clientes-fieis"  onclick="window.location.href='/templates/usuario.html'">
                        <h3>Clientes Fiéis</h3>
                        <h1>{{ quantidades_rfm.get('Loyal Customers', 0) }}</h1>
                        <h4>{{ (quantidades_rfm.get('Loyal Customers', 0)/qnt_total_clientes)*100 }}%</h4>
                    </div>
                </div>
                </div>
            </div>
        </section>
    </main>

    <script src="/static/JS/sidemenu.js"></script>
</body>
</html>